.add-pet-container{
    margin-top: 20px;
    width: 100%;
}

.sign-in-request{
    font-size: 1.5em;
    max-width: 640px;
    margin: auto;
}

.add-pet-form{
    max-width: 640px;
    margin: auto;
}